<div class="banner">
<app-navbar></app-navbar>
<div class="cards">
    <div class="card" style="width: 18rem;" routerLink="/add">
      <img src="/agent.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Agents </h4>
        <!-- <p> Add your property Information to database from here</p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/admin-page">
      <img src="/admin.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Admin Management</h4>
        <!-- <p> Find existing property And update and delete from here</p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/find">
      <img src="/agent.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Find My Agent</h4>
        <!-- <p> Find existing property And update and delete from here</p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/find">
      <img src="/appointment3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Appointment</h4>
        <!-- <p> Find existing property And update and delete from here</p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/find">
      <img src="/user2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>User Management</h4>
        <!-- <p> Find existing property And update and delete from here</p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/listing">
      <img src="/review.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Review and Rating</h4>
        <!-- <p> View all existing properties from here</p> -->
      </div>
    </div>

   
  </div>


</div>



